.navbar {
    overflow: hidden;
    background-color:#f2762b;
    margin-bottom:-20px;
}

.navbar a {
    float: left;
    display: block;
    font-size: 25px;
    color: white;

    text-align: center;
    padding: 25px 100px;
    text-decoration: none;
}
a:hover{
  color:white;
}
.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
