
<link rel="stylesheet" href="/css/head_css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="navbar container-fluid" style="margin-bottom:0px;">
<div class="row">
  <a class="col-lg-3" style="color:white" href="{{site.baseurl}}/about">About</a>
  <a class="col-lg-3" style="color:white" href="{{site.baseurl}}/interests">Interests</a>
  <a class="col-lg-3" style="color:white" href="{{site.baseurl}}/skills">Skills</a>
  <a class="col-lg-3" style="color:white" href="{{site.baseurl}}/projects">Projects</a>
</div>
</div>
